
body {
    margin: 0px auto; 
    overflow: hidden; 
    font-family: 'Share Tech Mono', monospace;
    font-size: 13px;
}

#deptLogo {
    opacity: 0.7;
    margin-top: 3px;
}

#Blink {
    animation: opacity-blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes opacity-blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}

.alignment {
    float: right;
    width: auto;
    text-align: right;
    color: #AFAFAF;
}

.alignment-container {
    width: auto;
    padding: 5px 10px;
    margin: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#main_container {
    float: right;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
}

.container {
    width: 100vh;
    height: 100vh;
}